.product-card {
  border: 1px solid #f0f0f0;
  border-radius: 0;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  background-color: #f3f3f3;
}
.product-card .sale-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
  background-color: #b95614;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}
.product-card .card-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.product-card .card-price {
  margin-top: 20px;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
.product-card .card-price .original-price {
  text-decoration: line-through;
}
.product-card .card-price .sale-price {
  color: #000000;
  font-weight: bold;
}
.product-card .rating {
  color: #b95614;
  font-size: 20px;
  margin-bottom: 10px;
}
.product-card .btn-cart {
  background-color: #b95614;
  color: white;
  position: absolute;
  left: 0;
  border-radius: 0%;
  bottom: 170px;
  height: 60px;
  width: 70px;
  font-size: 20px;
  clip-path: polygon(0 0,80% 0,100% 100%,0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
}
.product-card .btn-cart:hover {
  background-color: #a44b10;
  color: white;
}
.product-card .hover-icons {
  position: absolute;
  top: 100px;
  right: 15px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.product-card .hover-icons a {
  background-color: #333;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.product-card .hover-icons a:hover {
  background-color: #a44b10;
  color: white;
}
.product-card:hover .hover-icons {
  opacity: 1;
}
.form-select-custom {
  background-color: #3a6b72;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 0;
}
.form-select-custom option {
  color: white;
}
.align-bottom-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
